.birinchih1{
    color: darkblue;
 background-color: aqua;
  max-width: 365px;
}
.Ikinchih1{
    color: blanchedalmond;
     background-color: black;
      max-width: 265px;
}
.mark1{
    background-color: black;
     color: aqua;
}
.mark2{
    background-color: bisque;
     color: blue;
}
.mark3{
    background-color: brown;
     color: cyan;
}
.mark4{
    background-color: gold;
}
.mark5{
    background-color: black;
     color: aqua;
}
.mark6{
    background-color: bisque;
     color: blue;
}
.mark7{
    background-color: gold;
}